@media (min-width: 1024px) {
	:root {
		--font-size: 1.2rem;
	}

	.container {
		display: grid;
		grid-template-columns: 150px 1fr 300px;
	}

	.left {
		order: 1;
		grid-column: 1;
	}
	main {
		order: 2;
		grid-column: 2;
	}
	.right {
		order: 3;
		grid-column: 3;
	}
}