@import "layout/header.css";
@import "layout/footer.css";
@import "layout/container.css";
@import "layout/left-panel.css";
@import "components/search.css";

:root {
	--color-tiffany: #05c1ca;
	--color-background: #242424;
	--pane-color-background: #303030;
	--icon-color: #949494;
	--active-color: #ffffff;
	--font-color: #cbcbcb;
	--orange-color: #cc8343;
	--yellow-color: #f1bc68;
	--green-color: #6a8759;
	--blue-color: #7a9fc2;
	--red-color: #ff5d5f;
	--purple-color: #9d7baf;
	--font-size: 1.2rem;
}

.tiffany-color {
	color: #05c1ca;
}
.bg-tiffany {
	background-color: var(--color-tiffany);
}

body {
	color: var(--font-color);
	font-family: sans-serif;
	line-height: 1.5;
	font-size: var(--font-size);
	margin: 0 auto;
	width: 100%;
	background-color: var(--color-background);
}

a {
	color: var(--yellow-color);
	text-decoration: none;
}

@media (max-width: 1024px) {
	:root {
		--font-size: 1.1rem;
	}
}

@media (max-width: 768px) {
	:root {
		--font-size: 1rem;
	}
}
