.container {
	display: grid;
	grid-template-columns: 150px 1fr 300px;

	/* 必须加这行，否则 sticky 元素会被拉伸导致无法粘住 */
	align-items: start;

	& .column {
		font-size: small;
	}

	& main {
		padding: 1.2rem;
	}

	& .column.left-sticky {
		position: sticky;
		/* 粘在 Header 下方一点点 */
		top: calc(var(--header-height) + 1rem);
			
		border-radius: 0 1rem 1rem 0;
		margin-top: 2rem;
		background-color: var(--pane-color-background);
	}

	& .column.right {
		margin-top: 2rem;
		border-radius: 1rem 0 0 1rem;
		padding: 1rem;
		background-color: var(--pane-color-background);
	}
}

@media (max-width: 1024px) {
	.container {
		/* 最少给中间留 300px，如果空间够大，再按 1fr 扩充 */
		grid-template-columns: 150px minmax(300px, 1fr);	 

		& .column.right {
			width: 100%;
			border-radius: 0;
			padding: 1.2rem;
			/* 核心：让右侧栏横跨从第 1 列到最后一列, 1: 代表从第 1 条网格线开始（即最左侧）,-1: 这是一个小技巧，代表最后一条网格线 */
			grid-column: 1 / -1;
		}
	}
}


@media (max-width: 768px) {
	.container {
		grid-template-columns: 1fr;

		& main {
			order: 1;
			grid-column: 1;
		}

		& .column.left-sticky {
			order: 2;
			grid-column: 1;
			border-radius: 0;
			position: static;
		}
		
		& .column.right {
			order: 3;
			grid-column: 1rem;
			margin: 10px 0;
		}
	}
	
}

