<div class="post-list">
  {{ range site.RegularPages }}
    <section>
	  <a href="{{ .RelPermalink }}">
        {{ $image := .Resources.GetMatch "featured-*" }}
        {{ with $image }}
          {{ $scaled := .Fill "400x250" }} <img src="{{ $scaled.RelPermalink }}" alt="{{ $.Title }}" loading="lazy">
        {{ else }}
          <div class="placeholder-img"></div>
        {{ end }}
      </a>
      <div class="info">
		<h4 class="w-full"><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></h4>
		<span class="summary">{{ .Summary }}</span>
		<time>{{ .Date.Format "2006-01-02" }}</time>
	  </div>
    </section>
  {{ end }}
</div>
